/.wordpress-org export-ignore
/.github export-ignore
/tests export-ignore
/scripts export-ignore
/.idea export-ignore

/.distignore export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.phpunit.result.cache export-ignore
/.prettierrc.json export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/phpcs.xml export-ignore
/phpunit.xml export-ignore
/postcss.config.js export-ignore
/tailwind.config.js export-ignore
/webpack.mix.js export-ignore

# Shell scripts must keep LF endings so they run inside Linux containers.
*.sh text eol=lf
docker/ export-ignore
td export-ignore
plugins/ export-ignore
