@tailwind base;
@layer base {
	img {
		border-style: none;
	}
	.td-card{
		@apply border rounded-md p-4 transition bg-white hover:shadow-lg;
	}
	.main-nav{
		@apply flex space-x-2;
		a{
			@apply flex space-x-1 py-2 px-3 rounded text-sm text-slate-800 items-center hover:bg-blue-600 hover:text-white;
		}
		.active{
			@apply bg-gradient-to-b from-blue-500 to-blue-600 text-white;
		}
	}
	.top-nav a{
		@apply px-2 py-1 flex items-center space-x-1 hover:text-blue-600;
	}
	.nav-tabs{
		@apply bg-gray-50 rounded-full py-3 px-4 flex space-x-1 border;
		li{
			@apply mb-0;
		}
		li a{
			@apply py-1.5 px-4 rounded-full text-base hover:text-blue-600;
		}
		li a.active{
			@apply bg-gradient-to-b from-white to-gray-200 shadow;
		}
	}
	.btn-primary{
		@apply text-white font-medium text-base rounded py-2.5 px-6 bg-gradient-to-b from-blue-500 to-blue-600 hover:from-blue-600 hover:to-blue-500 hover:text-white;
	}
	.alert{
		@apply p-4 border rounded bg-neutral-100 mb-4 text-sm;
	}
	.alert-info{
		@apply bg-blue-50 border-blue-300 text-blue-600;
	}
	.alert-danger{
		@apply bg-rose-50 border-rose-300 text-rose-600;
	}

	.main-wrap{
		@apply flex-1 rounded-l-lg shadow-lg relative z-10;
		background: url("../images/footer-bg.png") center bottom no-repeat #fff;
		background-size: 100% 10%;
	}

	.td-steps{
		@apply mb-2 flex space-x-1;
		>span{
			@apply block w-2 h-2 rounded-full bg-green-200;
		}
		>span.active{
			@apply w-6 bg-green-400;
		}
	}
	
}
@tailwind components;
@tailwind utilities;

/* Reset wp  */
#wpbody, #wpbody-content, #wpcontent, #wpwrap, body, html{
	@apply !h-full;
}
#wpbody-content, #wpcontent{
	@apply !p-0 text-slate-700;
}