.td-shortcode-body {
    max-width: 80% !important;
}

.tdSearch--active {
    overflow: hidden!important
}

.tdSearch-Container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    display: flex;
    height: 100vh;
    width: 100vw;
    cursor: auto;
    flex-direction: column;
    background-color: rgb(0 0 0/.2);
    padding: 1rem;
    --tw-backdrop-blur: blur(4px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}


@media (min-width: 640px) {
.tdSearch-Container {
        padding:1.5rem
    }
}

@media (min-width: 768px) {
.tdSearch-Container {
        padding:10vh
    }
}

@media (min-width: 1024px) {
.tdSearch-Container {
        padding:12vh
    }
}

.tdSearch-Modal {
    margin: 0 auto;
    width: 100%;
    max-width: 47.375rem;
    display: flex;
    flex-direction: column;
    min-height: 0;
    border-radius: .5rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0/.1),0 4px 6px -4px rgb(0 0 0/.1);
    background: #fff
}

.tdSearch-SearchBar {
    z-index: 1;
    padding: 0 1rem;
    position: relative;
    display: flex;
    flex: none;
    align-items: center;
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(241 245 249/var(--tw-border-opacity))
}

.tdSearch-Form {
    display: flex;
    min-width: 0;
    flex: 1 1 auto;
    align-items: center
}

.tdSearch-Dropdown-Container {
    padding-bottom: 1.5rem
}

.tdSearch-Dropdown {
    flex: 1 1 auto;
    overflow: auto
}

.tdSearch-Hit--Result {
    position: relative;
    margin-left: 1.5rem;
    margin-right: 1.5rem
}

.tdSearch-Hit>a {
    position: relative;
    font-size: .875rem;
    border-bottom: 1px solid #f1f5f9
}

.tdSearch-Hit--Result {
    border-bottom-width: 0!important
}

.tdSearch-MagnifierLabel {
    height: 1.5rem;
    width: 1.5rem;
    flex: none;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m19 19-3.5-3.5' stroke='%23475569' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='11' cy='11' r='6' stroke='%23475569' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
}


.tdSearch-Container--Stalled .tdSearch-MagnifierLabel,.tdSearch-MagnifierLabel svg {
    display: none
}

.tdSearch-Input {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    height: 3.5rem;
    font-size: 1rem;
    color: #0f172a;
    margin-left: .75rem;
    margin-right: 1rem;
    flex: auto;
    min-width: 0
}

@media (min-width: 640px) {
.tdSearch-Input {
        font-size:.875rem
    }
}

.tdSearch-Input:focus {
    outline: 2px dotted transparent
}

.tdSearch-Input::-webkit-search-cancel-button,.tdSearch-Input::-webkit-search-decoration,.tdSearch-Input::-webkit-search-results-button,.tdSearch-Input::-webkit-search-results-decoration {
    display: none
}

.tdSearch-Reset {
    display: none
}

.tdSearch-Reset svg {
    display: none
}

.tdSearch-Hit-Container {
    display: flex;
    align-items: center
}


.tdSearch-Hit--Result .tdSearch-Hit-icon {
    display: block;
    flex: none;
    margin-right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: .375rem;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.75 1v10M8.25 1v10M1 3.75h10M1 8.25h10' stroke='%2394A3B8' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50%;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0/0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000);
    --tw-ring-color: rgb(15 23 42/0.05)
}

.tdSearch-Hit--Parent .tdSearch-Hit-icon {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.5 0c1.093 0 2.117.27 3 .743V10a6.344 6.344 0 0 0-3-.743c-1.093 0-2.617.27-3.5.743V.743C.883.27 2.407 0 3.5 0Z' fill='%23BAE6FD'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.5 0c1.093 0 2.617.27 3.5.743V10c-.883-.473-2.407-.743-3.5-.743s-2.117.27-3 .743V.743a6.344 6.344 0 0 1 3-.743Z' fill='%2338BDF8'/%3E%3C/svg%3E")
}

.tdSearch-Hit-icon svg {
    display: none
}

.tdSearch-Hit-content-wrapper {
    flex: auto;
    display: flex;
    flex-direction: column-reverse;
    min-width: 0;
    z-index: 1
}

.tdSearch-Hit-path {
    align-self: flex-start;
    font-size: .75rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: #334155;
    background: #f1f5f9;
    border-radius: 999px;
    padding: 0 .375rem
}

.tdSearch-Hit[aria-selected=true] .tdSearch-Hit-icon {
    background-color: transparent;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000);
    --tw-ring-color: rgb(255 255 255/0.3)
}

.tdSearch-Hit[aria-selected=true] .tdSearch-Hit-icon {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.75 1v10M8.25 1v10M1 3.75h10M1 8.25h10' stroke='%23fff' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E")
}

.tdSearch-Hit[aria-selected=true] .tdSearch-Hit--Parent .tdSearch-Hit-icon {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.5 0c1.093 0 2.117.27 3 .743V10a6.344 6.344 0 0 0-3-.743c-1.093 0-2.617.27-3.5.743V.743C.883.27 2.407 0 3.5 0Z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.5 0c1.093 0 2.617.27 3.5.743V10c-.883-.473-2.407-.743-3.5-.743s-2.117.27-3 .743V.743a6.344 6.344 0 0 1 3-.743Z' fill='%23fff'/%3E%3C/svg%3E")
}

.tdSearch-Hit-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    color: rgb(51 65 85/var(--tw-text-opacity))
}

.tdSearch-Hit-title+.tdSearch-Hit-path {
    margin-bottom: .25rem
}

.tdSearch-Hit-action {
    margin-left: .875rem;
    flex: none
}

.tdSearch-Hit--Result .tdSearch-Hit-action svg {
    display: none
}

.tdSearch-Hit--Result .tdSearch-Hit-action {
    height: 1.5rem;
    width: 1.5rem;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11 9 3 3-3 3' stroke='%23475569' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
}

[aria-selected=true] .tdSearch-Hit--Result .tdSearch-Hit-action {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11 9 3 3-3 3' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
}

.tdSearch-Hit[aria-selected=true] .tdSearch-Hit--Result .tdSearch-Hit-path {
    --tw-bg-opacity: 1;
    background-color: rgb(56 189 248/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.tdSearch-Hit[aria-selected=true] .tdSearch-Hit--Result .tdSearch-Hit-title {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.tdSearch-Hit-action-button {
    display: flex
}

.tdSearch-Hit-action+.tdSearch-Hit-action {
    margin-left: .5rem
}

.tdSearch-Hit-action path {
    stroke-width: 2px;
    stroke: #71717a
}

.tdSearch-Hit[aria-selected=true] .tdSearch-Hit-action path {
    stroke: #fff
}

.tdSearch-Hit>a {
    display: block;
    padding: 1rem 1.5rem
}

.tdSearch-Hit--Result {
    padding: .75rem 1rem!important
}

.tdSearch-Hit {
    position: relative
}


.tdSearch-Hit--Result {
    border-top-width: 0!important
}

.tdSearch-Hit+.tdSearch-Hit .tdSearch-Hit--Result {
    margin-top: .5rem
}

.tdSearch-Hit--Result {
    border-radius: .5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 252/var(--tw-bg-opacity))
}

.tdSearch-Hit[aria-selected=true]>a {
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 252/var(--tw-bg-opacity))
}

.tdSearch-Hit[aria-selected=true] .tdSearch-Hit--Result {
    --tw-bg-opacity: 1;
    background-color: rgb(14 165 233/var(--tw-bg-opacity))
}

.tdSearch-Hits mark {
    background: none;
    border-bottom-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(125 211 252/var(--tw-border-opacity));
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(2 132 199/var(--tw-text-opacity))
}

.tdSearch-Hit-path mark {
    border-width: 0
}

.tdSearch-Hit[aria-selected=true] mark {
    color: inherit;
    border-bottom-color: currentColor
}

.tdSearch-Footer {
    display: flex;
    flex: none;
    justify-content: flex-start;
    border-top-width: 1px;
    --tw-border-opacity: 1;
    padding: 1rem 1.5rem
}

.tdSearch-Commands {
    display: none
}

.tdSearch-Logo a {
    display: flex;
    align-items: center;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(148 163 184/var(--tw-text-opacity))
}

.tdSearch-Logo svg {
    margin-left: .75rem;
    --tw-text-opacity: 1;
    color: rgb(84 104 255/var(--tw-text-opacity))
}

.tdSearch-Hit--deleting,.tdSearch-Hit--favoriting {
    opacity: 0;
    transition: all .25s linear
}

.tdSearch-NoResults .tdSearch-Screen-Icon {
    display: none
}

.tdSearch-Title {
    margin-bottom: 2.5rem;
    font-size: 1.125rem;
    line-height: 1.5rem
}

.tdSearch-Title strong {
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(15 23 42/var(--tw-text-opacity))
}

.tdSearch-StartScreen .tdSearch-Help {
    padding: 4rem 1.5rem;
    text-align: center;
    --tw-text-opacity: 1;
    color: rgb(148 163 184/var(--tw-text-opacity))
}

.tdSearch-NoResults {
    padding: 2.5rem 1rem 2rem
}

.tdSearch-NoResults .tdSearch-Title {
    text-align: center;
    color: #94a3b8
}

.tdSearch-NoResults-Prefill-List .tdSearch-Help {
    margin-bottom: .75rem;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    color: rgb(15 23 42/var(--tw-text-opacity))
}

.tdSearch-NoResults-Prefill-List ul {
    overflow: hidden;
    border-radius: .5rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(226 232 240/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 252/var(--tw-bg-opacity))
}

.tdSearch-NoResults-Prefill-List button {
    padding: .5rem .75rem;
    display: block;
    width: 100%;
    text-align: left;
    font-size: .875rem;
    line-height: 1.5rem;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11 9 3 3-3 3' stroke='%23475569' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    --tw-text-opacity: 1;
    color: rgb(51 65 85/var(--tw-text-opacity))
}

.tdSearch-NoResults-Prefill-List li+li button {
    border-top-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(226 232 240/var(--tw-border-opacity))
}

.tdSearch-NoResults-Prefill-List+.tdSearch-Help {
    margin-top: .75rem;
    font-size: .75rem;
    line-height: 1.5rem
}

.tdSearch-NoResults-Prefill-List+.tdSearch-Help a {
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(14 165 233/var(--tw-text-opacity))
}

.tdSearch-Hit-action+.tdSearch-Hit-action {
    margin-left: .75rem;
    border-left-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(226 232 240/var(--tw-border-opacity));
    padding-left: .75rem
}
