/* ----------------------------- FRONTEND ONLY --------------------------------
We are using Tailwind core with !important so try to use single selector.
Anyone want to override can do so with parent + child selector with !important.
eg: #thrivedesk .search{ display: flex !important; } 
------------------------------------------------------------------------------- */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* --------------------------------------------------------------------------
Everything is wrapped around #thrivedesk id.
If you want to override with your own style. Use your theme .class #thrivedesk 
------------------------------------------------------------------------------- */
#thrivedesk {
	/* ------------- Common components ------------- */
	a { @apply no-underline; }

	/* Buttons  */
	.td-btn{
		@apply text-sm border border-solid border-slate-200 text-slate-600 bg-white rounded-md py-1 px-2 shadow-sm hover:bg-slate-50;
	}
	.td-btn-primary {
		@apply border-none px-5 py-3 font-medium !text-white bg-gradient-to-b from-blue-500 bg-blue-600 rounded-md hover:bg-blue-500 hover:text-white shadow-sm;
	}

	/* Status Tag  */
	.status{
		@apply px-2 py-1 bg-slate-50 border border-solid border-slate-200 font-medium text-slate-500 text-sm rounded-full shadow-sm;
	}
	.status-active{ @apply bg-white border-green-400 text-green-500;}
	.status-pending { @apply bg-white border-yellow-400 text-yellow-500;}

	/* ------------- Ticket Page ------------- */
	.td-portal-header {
		@apply flex items-center my-4;
	}
	/* Table - applied on <table> */
	.td-portal-tickets {
		/* Reset  */
		@apply bg-transparent border-none m-0;
		td, th{ @apply border-0;}

		thead {
			@apply text-xs text-slate-700 uppercase bg-slate-50 ;
			th {
				@apply bg-transparent p-4 uppercase text-xs text-slate-500 text-left;
			}
		}
		tbody {
			tr { @apply hover:bg-slate-100 cursor-pointer;}
			tr:nth-child(even) {
				@apply bg-slate-50 hover:bg-slate-100;
			}
			td { @apply py-2 px-4 border-b; }
		}
	}
	/* Footer  */
	.td-portal-footer {
		@apply my-4 flex;
	}
	/* Pagination - applied on <ul>  */
	.td-paginator {
		@apply inline-flex list-none text-sm m-0 p-0 -space-x-px isolate shadow-sm;
		li:first-child span{ @apply rounded-l-md;}
		li:last-child span{ @apply rounded-r-md;}
		li span{
			@apply relative inline-flex items-center px-4 py-2 bg-white font-semibold text-slate-800 ring-1 ring-inset ring-slate-200 hover:bg-slate-50 focus:z-20 focus:outline-offset-0;
		}
		.pg-active span {
			@apply bg-blue-50;
		}
	}

	/* ------------- Modal ------------- */
	.td-modal-container {
		@apply hidden fixed top-0 left-0 z-[99999] flex flex-col p-6 md:p-[10vh] 2xl:p-[12vh] bg-slate-900 bg-opacity-50 backdrop-blur-sm;
	}

	.td-modal {
		@apply w-full mx-auto max-w-3xl min-h-0 flex flex-col rounded-lg drop-shadow-lg bg-white z-99 relative;
	}

	.td-modal-header {
		@apply px-4 flex flex-none items-center bg-slate-100 rounded-t;

		form {
			@apply flex flex-1 items-center;

			input {
				@apply border-none bg-transparent px-2 h-14 flex-auto outline-none !important;
			}
		}

		button {
			@apply px-1.5 py-1 uppercase font-semibold bg-white rounded text-xs hover:bg-blue-50 text-slate-500 hover:text-blue-500 shadow;
		}
	}

	.td-modal-body {
		@apply flex-auto overflow-auto;
	}

	.td-modal-footer {
		@apply p-6 border-t text-center;
	}

	/* ------------- Search Results ------------- */
	.td-search-items {
		.td-search-item {
			a {
				@apply p-4 mx-6 relative bg-slate-50 hover:bg-blue-50 rounded-lg block;
			}
			.td-search-content {
				@apply flex flex-auto flex-col min-w-0 text-slate-500;
			}
			.td-search-tag {
				@apply text-xs;
			}
			.td-search-title {
				@apply font-medium text-black;
			}
			.td-search-excerpt {
				@apply truncate;
			}
		}
	}

	.td-spinner {
		@apply inline mr-2 w-10 h-8 text-slate-200 animate-spin dark:text-slate-600 fill-blue-500;
	}

	/* Conversations  */
	.td-conversation {
		@apply bg-white shadow rounded-lg;
		.td-conversation-header {
			@apply p-4 flex items-center bg-slate-50 rounded-t-lg;
		}
		.td-conversation-body {
			@apply p-6;
			a {
				@apply text-blue-600 font-bold;
			}
			* {
				@apply mt-0 mb-2;
			}
		}
	}
	/* // Conversation by agent */
	.td-conversation.actor-agent {
		@apply shadow-blue-100;

		.td-conversation-header {
			@apply bg-blue-50;
		}
	}

	/* Disable conversation page header  */
	.page {
		.entry-header {
			display: none !important;
		}
	}
}
