.thrivedesk .row::after {
    content: "";
    clear: both;
    display: table;
}

.thrivedesk [class*="col"] {
    float: left;
    padding: 10px;
    width: 100%;
}

.thrivedesk .card {
    padding: 20px;
    box-shadow: 1px 2px 10px -5px #e2e2e2;
    border-radius: 3px;
    border: 1px solid #faf8f8;
    width: 100%;
}

.thrivedesk .card img {
    width: 70%;
    display: block;
    margin: auto;
}

.thrivedesk .card h2 {
    font-size: 20px;
    padding-top: 20px;
}

.thrivedesk .card p {
    margin-top: -10px;
    font-size: 16px;
}

.thrivedesk .card button {
    border: none;
    outline: none;
    padding: 8px 15px;
    width: 100%;
    display: block;
    margin: auto;
    color: #004085;
    background-color: #cce5ff;
    font-size: 14px;
    border-radius: 3px;
    transition: 0.2s linear;
    cursor: pointer;
}

.thrivedesk .card button.disconnect {
    color: #721c24;
    background-color: #f8d7da;
}

.thrivedesk button:disabled, .thrivedesk button[disabled] {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
    cursor: not-allowed;
}

.thrivedesk .installed-badge {
    color: #fff;
    background-color: #28a745;
    border-radius: 3px;
    position: absolute;
    top: 0;
    right: 10px;
    top: 10px;
    padding: 0 4px;
}

.thrivedesk .tooltip {
    position: relative;
    display: block;
}

.thrivedesk .tooltip .tooltip-text {
    visibility: hidden;
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    bottom: 40px;
}

.thrivedesk .tooltip:hover .tooltip-text {
    visibility: visible;
}

/* For Responsive */

@media only screen and (min-width: 768px) {
    .thrivedesk .col {
        width: 20%;
    }
}