.thrivedesk {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
}

.thrivedesk .row {
    display: flex;
    justify-content: start;
}

.thrivedesk .row .col {
    flex: 1 1 25%;
    box-sizing: border-box;
    max-width: 25%;
    padding: 0px 1rem 1rem 0px;
}

.thrivedesk .card {
    border: 1px solid #faf8f8;
    width: 100%;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    height: 290px;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    padding: 16px;
    border-radius: 4px;
    display: flex !important;
    flex-direction: column;
}

.thrivedesk .card--plugin {
    display: flex;
    justify-content: space-between !important;
    flex-direction: column !important;
}

.thrivedesk .card--plugin__img {
    width: 100%;
    max-width: 100%;
}

.thrivedesk .card--plugin__name {
    font-size: 20px;
    font: 400 16px/28px Roboto, Helvetica Neue, sans-serif;
    letter-spacing: normal;
    margin: 0;
    color: #343a40 !important;
    margin-top: 1rem !important;
}

.thrivedesk .card--plugin__excerpt {
    margin-top: -10px;
    margin: 0;
    font-size: 14px;
    color: #6c757d !important;
    line-height: 1.5;
}

.thrivedesk .card--plugin .tooltip {
    position: relative;
    display: block;
}

.thrivedesk .card--plugin .tooltip__text {
    visibility: hidden;
    width: 100%;
    background-color: #5a5a5a;
    color: #fff;
    text-align: center;
    padding: 3px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 40px;
}

.thrivedesk .card--plugin .installed-badge {
    color: #fff;
    background-color: #28a745;
    border-radius: 3px;
    position: absolute;
    top: 0;
    right: 10px;
    top: 10px;
    padding: 0 4px;
}

.thrivedesk .card .button {
    width: 100%;
    background-color: #e8f1fd;
    font-size: 14px;
    transition: 0.2s linear;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    color: #4888ed;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 1rem !important;
    box-sizing: border-box;
    position: relative;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
}

.thrivedesk .card .button:hover:not([disabled]) {
    background-color: #d0e4ff;
}

.thrivedesk .card .button--disconnect {
    color: #721c24;
    background-color: #f8d7da;
}

.thrivedesk .card .button--disconnect:hover:not([disabled]) {
    background-color: #ffc0c6;
}

.thrivedesk .card .button:disabled, .thrivedesk .card .button[disabled] {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
    cursor: not-allowed;
}

.thrivedesk .card .tooltip:hover .tooltip__text {
    visibility: visible;
}

@media only screen and (max-width: 768px) {
    .thrivedesk .row .col {
        flex: 1 1 33.33% !important;
        max-width: 33.33% !important;
    }
}

@media only screen and (max-width: 525px) {
    .thrivedesk .row .col {
        flex: 1 1 50% !important;
        max-width: 50% !important;
    }
}

@media only screen and (max-width: 375px) {
    .thrivedesk .row {
        flex-direction: column;
    }
    .thrivedesk .row .col {
        flex: 1 1 100% !important;
        max-width: 100% !important;
    }
    .thrivedesk .row .card {
        height: auto;
    }
}